
/*
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/BASKVILL.ttf');
}
*/

@font-face {
  font-family: 'Libre-Baskerville';
  /* src: url('/fonts/Libre-Baskerville-Regular.ttf'); */
  src: url('/fonts/Libre-Baskerville-Regular.ttf');
}
@font-face {
  font-family: 'SFProDisplay';
  /* src: url('/fonts/Libre-Baskerville-Regular.ttf'); */
  src: url('/fonts/SFProDisplay-Light.ttf');
}
html {
    font-family: 'SFProDisplay';
   
}
h1 {
  font-family: 'Libre-Baskerville';
  /*font-size: '20'*/
}

p {
    font-size: '16';
}
/* Increase the default font size */
/* title {
  font-size: '14';
} */
