:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    251,251,252;
    --color-neutral-300:    210,211,216;
    --color-neutral-400:    169,170,181;
    --color-neutral-500:    128,130,145;
    --color-neutral-600:    108,110,124;
    --color-neutral-700:    89,90,103;
    --color-neutral-800:    70,71,81;
    --color-neutral-900:    51,52,59;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    210,225,255;
    --color-primary-300:    133,175,255;
    --color-primary-400:    57,125,255;
    --color-primary-500:    0,81,235;
    --color-primary-600:    0,67,194;
    --color-primary-700:    0,53,153;
    --color-primary-800:    0,39,113;
    --color-primary-900:    0,25,72;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    255,255,255;
    --color-secondary-300:    213,248,239;
    --color-secondary-400:    148,236,213;
    --color-secondary-500:    83,225,187;
    --color-secondary-600:    48,219,173;
    --color-secondary-700:    34,193,150;
    --color-secondary-800:    28,158,123;
    --color-secondary-900:    22,123,96;
    }